@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Oxygen, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #5F2312;
  --secondary: #42170A;
  --background: #F0DED3;

  color-scheme: light dark;
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 2rem;
  color: var(--primary);
}

p {
  color: var(--primary);
}

a {
  color: var(--primary);
  text-decoration: underline;
}

.custom-btn {
  text-decoration: none;
}

.custom-btn:hover,
.submit-btn:hover {
  cursor: pointer;
  background-color: rgb(240, 216, 203);
}

.custom-btn:focus {
  background-color: rgb(240, 216, 203);
  box-shadow: 2px 2px 0 0 var(--secondary);
}

.submit-btn {
  color: var(--secondary);
  box-shadow: 1px 1px 0 0 var(--secondary);
}

.submit-btn:focus {
  box-shadow: none;
}

.submit-btn:disabled {
  background-color: rgb(206, 185, 174);
  cursor: default;
}

.form-input {
  background-color: var(--secondary);
  color: var(--background);
  border: var(--secondary);
  margin-bottom: 0.5rem;
}

.form-input::placeholder {
  color: rgb(148 163 184);
}

summary {
  color: var(--secondary);
}

option {
  color: var(--background);
}

hr {
  border-bottom: dotted 1px var(--primary);
}

#spinner {
  transform-origin:center;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% { transform:rotate(360deg) }
}